* {
    font-family: "Montserrat";
}

body {
    background-color: #E6E6E6;
    overflow: scroll;
}

/*Section 0 for navigation bar*/
#navBar {
    background-color: rgba(106, 189, 255, 0.8);
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#navBarNav {
    position: absolute;
    right: 0rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
}

#kakPeweLogo, #profileLogo {
    max-height: 2rem;
    max-width: 2rem;
    margin-right: 1rem;
}

.active {
    background-color: #E3E3E3;
}

.active h3 {
    text-decoration: underline;
}

/*Section 1 for main card*/
.card {
    border-radius: 1rem;
}

#card1 {
    top: 5rem;
    margin: 0px 2rem 2rem 2rem;
}

#profilePhoto {
    max-height: 15rem;
    max-width: 15rem;
}

hr {
    border-top: 1px solid black;
}

/*Section 2 for cards with header*/
#card2 {
    margin: 7rem 2rem 2rem 2rem;
}

.header-card {
    max-width: 14rem;
    max-height: 10%;
    padding: 0px;
    background-color: #6abdff;
    margin: 0px;
}

.header-card-body {
    padding: 0px;
}

.header-card .header-card-body h4 {
    margin: 0.3rem 0px 0.3rem 1rem;
}

/*Section 3 for columns of cards with header*/
.content-cards {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.card-columns .card-combi {
    border: 0px;
    background: none;
}

.card-columns .header-card {
    margin-bottom: 0px;
}

.list-card {
    padding-left: 0rem;
}