<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>PPWLab - My Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Lab3.css' %}">
    	<style type="text/css">
            /** {
                border-style: solid;
            }*/

            #profilePhoto {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            #mainID {
                text-align: center;
            }

            #card3 {
                margin: 2rem 2rem 2rem 2rem;
            }
    	</style>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
    	<!-- from bootstrap -->
    	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navBar">
            <img class="rounded-circle" id="kakPeweLogo" src="{% static 'img/Kak-Pewe.jpg' %}">
		    <a class="navbar-brand" id="navBarBrand" href="#"><h3>PPWLAB - MY HOME</h3></a>

		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>

		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav" id="navBarNav">
			    	<a class="nav-item nav-link active" href="#"><h3>Home <span class="sr-only">(current)</span></h3></a>
                    <a class="nav-item nav-link" href="schedule"><h3>Schedule</h3></a>
			        <a class="nav-item nav-link" href="profile"><h3>Profile</h3></a>
			        <a class="nav-item nav-link" href="profile"><img class="rounded-circle" id="profileLogo" src="{% static 'img/Foto.jpg' %}"></a>
			    </div>
		    </div>
		</nav>

        <!-- main card -->
        <div class="card" id="card1">
            <div class="card-body">
                <div class="card-1-home">
                    <img src="{% static 'img/Foto.jpg' %}" class="img-thumbnail rounded-circle" id="profilePhoto" alt="Picture of Kevin Christian Chandra">
                </div>

                <br>

                <div class="card-1-home" id="mainID">
                    <h2 id="name">KEVIN CHRISTIAN CHANDRA</h2>
                    <hr style="width: 70%">
                    <h2 id="career">"Do your best in everything you do."</h2>
                </div>
            </div>
        </div>

        <!-- About -->
        <div id="card2">
    		<div class="card header-card">
                <div class="card-body header-card-body">
                    <h4 id="about">About</h4>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p>Welcome to my website! I created this website to fullfil the Web Designing task given by my Teacher. This website was intended to only display my profile, but then I decided to make a home page which shows some articles I would like to post. The main content of this website is my personal profile and things I like or am interested in. I do hope you enjoy scrolling though this experimental website.</p>
                </div>
            </div>
        </div>

        <!-- Article -->
        <div id="card3">
            <div class="card header-card">
                <div class="card-body header-card-body">
                    <h4 id="article">Today's Articles</h4>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2>Giant Panda</h2>
                    <p style="font-style: italic; font-size: 0.7rem">from Wikipedia</p>
                    <hr>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Panda_Cub_from_Wolong%2C_Sichuan%2C_China.JPG/330px-Panda_Cub_from_Wolong%2C_Sichuan%2C_China.JPG" class="img-thumbnail" alt="A seven months-old Giant Panda">

                    <p>The giant panda (Ailuropoda melanoleuca, literally "black and white cat-foot"; Chinese: 大熊猫; pinyin: dà xióng māo, literally "big bear cat"), also known as panda bear or simply panda, is a bear native to south central China. It is easily recognized by the large, distinctive black patches around its eyes, over the ears, and across its round body. The name "giant panda" is sometimes used to distinguish it from the unrelated red panda. Though it belongs to the order Carnivora, the giant panda's diet is over 99% bamboo. Giant pandas in the wild will occasionally eat other grasses, wild tubers, or even meat in the form of birds, rodents, or carrion. In captivity, they may receive honey, eggs, fish, yams, shrub leaves, oranges, or bananas along with specially prepared food.</p>

                    <p>The giant panda lives in a few mountain ranges in central China, mainly in Sichuan, but also in neighbouring Shaanxi and Gansu. As a result of farming, deforestation, and other development, the giant panda has been driven out of the lowland areas where it once lived.</p>

                    <p><a href="https://en.wikipedia.org/wiki/Giant_panda" target="_blank">(Click here to read more...)</a></p>
                </div>

                <div class="card-body">
                    <h2>Bootstrap</h2>
                    <p style="font-style: italic; font-size: 0.7rem">from Wikipedia</p>
                    <hr>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/330px-Boostrap_logo.svg.png" class="img-thumbnail" alt="Bootstrap Logo">
                    
                    <p>Bootstrap is a free and open-source front-end framework for designing websites and web applications. It contains HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as well as optional JavaScript extensions. Unlike many earlier web frameworks, it concerns itself with front-end development only.</p>

                    <p>Bootstrap is modular and consists of a series of Less stylesheets that implement the various components of the toolkit. These stylesheets are generally compiled into a bundle and included in web pages, but individual components can be included or removed. Bootstrap provides a number of configuration variables that control things such as color and padding of various components.</p>

                    <p><a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)" target="_blank">(Click here to read more...)</a></p>
                </div>
            </div>
        </div>
    </body>
</html>